s-1 {
    margin-bottom: 50px;
}

.container {
    width: 1052px;
    margin: 0 auto;
    /*border: 1px dotted black;*/
}

.s-2 {
    margin-bottom: 30px;
}

.info-box {
    margin-bottom: 30px;
}

.stick {
    width: 2px;
    height: 30px;
    background-color: blue;
    display: inline-block;
}

h3 {
    display: inline-block;
}
h4 {
    display: inline-block;
}

.card1 {
    width: 500px;
    height: 200px;
    background: #E7E7E7;
    display: inline-block;
    margin-right: 46px;
}

.card2 {
    width: 500px;
    height: 200px;
    background: #E7E7E7;
    display: inline-block;
}

img {
    margin-right: 41px;
}